* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

/* Navigation */

.nav-container {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}



.logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-family: "Quicksand";
    font-size: 2rem;
    font-weight: 700;
}

.link {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
}

.link div {
    font-family: "Quicksand";
    font-size: 1.6rem;
}

.home {
    color: rgba(254, 163, 1, 1);
    font-weight: 800;
}

.about {
    color: rgba(1, 172, 253, 1);
    font-weight: 500;
}

.facility {
    color: rgba(5, 212, 223, 1);
    font-weight: 500;
}

.addmission {
    color: rgba(93, 88, 239, 1);
    font-weight: 500;
}

.contact button {
    font-family: "Quicksand";
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    background-color: rgba(254, 163, 1, 1);
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
}

/* Banner */
.banner-container {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

.banner-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner-text h2 {
    font-family: "Quicksand";
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
}

.empower {
    font-family: "Quicksand";
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(254, 163, 1, 1);
}

.vision {
    font-family: "Quicksand";
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(1, 172, 253, 1);
}

.banner-text p {
    font-family: "Quicksand";
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.banner-text button {
    font-family: "Quicksand";
    font-size: 1.4rem;
    color: white;
    background: black;
    border-radius: 10px;
    padding: 10px 0px;
    width: 208px;
}

/* curr */

.curr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: 60px;
    max-width: 1920px;
    margin-left: 60px;
    margin-right: 60px;
    background-image: url(assets/bg.png);
    background-size: cover;
    padding: 60px;
}

.card-container {
    display: flex;
    gap: 30px;
}

.card-1, .card-2, .card-3 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    border-radius: 18px;
    padding: 70px 40px;
    text-align: center;
    
} 

.card-1 {
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.09);
    background: linear-gradient(rgb(204, 244, 255) 1%, rgb(255, 255, 255) 30%);
}

.card-2 {
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.09);
    background: linear-gradient(rgb(255, 241, 208) 1%, rgb(255, 255, 255) 30%);
}

.card-3 {
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.09);
    background: linear-gradient(rgb(242, 226, 255) 1%, rgb(255, 255, 255) 30%);
}

.card-1 button {
    background-color: white;
    border: none;
    color: rgba(100, 200, 255, 1);
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 1rem;
}

.card-2 button {
    background-color: white;
    border: none;
    color: rgba(240, 170, 0, 1);
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 1rem;
}

.card-3 button {
    background-color: white;
    border: none;
    color: rgba(135, 0, 255, 1);
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 1rem;
}

.curr-title {
    font-family: "Quicksand";
    font-size: 3rem;
    color: black;
    font-weight: 700;
}

.curr-container h3 {
    font-family: "Quicksand";
    font-size: 1.9rem;
    font-weight: 700;
    color: rgba(32, 32, 32, 1);
}

.card-text {
    font-family: "Raleway";
    color: rgba(128, 128, 128, 1);
    font-size: 1rem;
    font-weight: 500;
}

.arrow {
    display: flex;
    gap: 15px;
}

/* Icons */
.material-symbols--menu-rounded {
    display: none;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.icon-park-solid--right-c {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cmask id='ipSRightC0'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%23fff' stroke='%23fff' d='M24 44c11.046 0 20-8.954 20-20S35.046 4 24 4S4 12.954 4 24s8.954 20 20 20Z'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='m21 33l9-9l-9-9'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='rgba(254, 163, 1, 1)' d='M0 0h48v48H0z' mask='url(%23ipSRightC0)'/%3E%3C/svg%3E");
}

.icon-park-solid--left-c {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cmask id='ipSLeftC0'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%23fff' stroke='%23fff' d='M24 44c11.046 0 20-8.954 20-20S35.046 4 24 4S4 12.954 4 24s8.954 20 20 20Z'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='m27 33l-9-9l9-9'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='rgba(254, 163, 1, 1)' d='M0 0h48v48H0z' mask='url(%23ipSLeftC0)'/%3E%3C/svg%3E");
}

@media screen and (max-width: 576px) {
    .material-symbols--menu-rounded {
        display: inline-block;
    }
    .logo p {
        display: none;
    }

    .home, .about, .facility, .addmission {
        display: none;
    }

    .contact {
        display: none;
    }

    .link {
        margin: 0;
    }

    .nav-container {
        justify-content: space-between;
        margin: 12px 16px;
        border-bottom: 1px solid rgba(254, 163, 1, 1);
        padding-bottom: 10px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text {
        text-align: center;
        align-items: center;
        width: 100%;
        font-size: 2rem;
    }

    .banner-text h2, .banner-text span {
        font-size: 2.5rem;
    }
}
